.div-input {
    margin: 10px;
    text-align: center;
}

.div-botones {
    text-align: center;
}


main h3, h4 {
    text-align:center;
}

button {
    background-color: #1259c3;
    border: 2px solid #1259c3;
    color: white;
}

article {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.article-footer {
    color: #666;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    line-height: 17x;
    margin: 10px;
}

.article-copyright {
    color: #666;
    font-size: 10px;
}

.icon-footer {
    text-align: center;
    color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
